.footer_container {
    margin-top: 10% !important;
}

.heading_1 {
    color: #272829;
}

.sub_navigation {
    background-color: #C3E2C2;
    width: 100%;
    height: 40px;
    margin-top: 10%;
}

h6 {
    color: #272829;
}

.form-group {
    color: #272829;
}

.main_container {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #EAECCC;
}

.form_container {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: white;
}

#create_listing_btn {
    color: #272829;
    border-color: #098666;
}

#create_listing_btn:hover {
    color: white;
    background-color: #098666;
}

/* -------------------MEDIA QUERY-----------------------*/
@media only screen and (min-width: 375px) and (max-width:853px) {
    .main_container {
        margin-top: 0;
        padding-top: 0;
    }

    .sub_navigation {
        margin-top: 50%;
    }

    .inner_form_container {
        width: 80% !important;
    }
}