.footer_container {
    margin-top: 6% !important;
}

.text {
    font-size: 32px;
}

.login_form_container {
    background-color: #C3E2C2;
    padding-top: 5%;
    padding-top: 10%;
    padding-bottom: 3%;
}

.login_form {
    background: white;
    width: 60%;
    margin-left: 20%;
    color: #272829;
}

.login_btn {
    color: white;
    background-color: #098666;
}

.login_btn:hover {
    transform: scale(1.05);
    transition: 1s;
    color: white;
    background-color: #098666;
}

.sign_up_link {
    text-decoration: underline;
}

/* -------------------MEDIA QUERY-----------------------*/
@media only screen and (max-width:853px) {
    .login_form {
        width: 90%;
        margin-left: 5%;
    }

    .text {
        font-size: 24px;
    }

    .login_form_container {
        padding-top: 10% !important;
    }

    .email_input,
    .password_input {
        width: 100% !important;

    }

    .small_text {
        font-size: 13px;
        color: #272829;
    }

}