.footer_container {
    margin-top: 10% !important;
}

.sub_navigation {
    background-color: #C3E2C2;
    width: 100%;
    height: 40px;
    margin-top: 10%;
    font-size: 18px;
    padding: 5px;
}

.main_container {
    background-color: #EAECCC;
    padding-bottom: 5%;
}

.card-id {
    color: gray;
    font-size: 12px;
}

.card-title {
    color: #098666;
    font-size: 24px;
}

.product_detail {
    width: 100%;
}

.product_image {
    width: 200px;
    height: 200px;
}

.bid,
.bid_price {
    color: #272829;
    border: #272829;
}

h6 {
    color: #272829;
    font-size: 15px;
}

.btn_submit_bid {
    border-color: #098666;
    color: #272829;
}

.btn_submit_bid:hover {
    color: white;
    background-color: #098666;
}

.bid_form {
    margin-left: 25%;
    padding-bottom: 5%;
}

.form-control {
    border-color: #272829;
}


/* -------------------MEDIA QUERY-----------------------*/
@media only screen and (min-width: 375px) and (max-width:853px) {
    .main_container {
        margin-top: 30%;
        padding-bottom: 10%;
    }

    .bid_form {
        margin-left: 10% !important;
        margin-top: 5% !important;
        padding-bottom: 10%;
    }

    .bid_input {
        line-height: 20px;
    }

    .btn_submit_bid {
        line-height: 20px;
    }
}