.footer_container {
    margin-top: 50% !important;
}

.sub_navigation {
    background-color: #C3E2C2;
    width: 100%;
    height: 40px;
    margin-top: 10%;
    font-size: 18px;
    padding: 5px;
}

.main_container {
    background-color: #EAECCC;
}

.product_detail {
    width: 100%;
}

.product_image {
    width: 200px;
    height: 200px;
}

.bid,
.bid_price {
    color: #272829;
    border: #272829;
}