.footer_container {
    margin-top: 10% !important;
}

.main_container {
    background-color: #EAECCC;
}

.profile_edit {
    color: #272829;
    border-color: #098666;
}

.profile_card {
    margin-left: 20%;
}

.sub_navigation {
    margin-top: 10%;
    background-color: #C3E2C2;
    width: 100%;
    height: 40px;
    font-size: 18px;
}

.profile_photo {
    height: 200px;
    width: 200px;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 7%;
}

.listing_text {
    margin-top: 10%;
    color: #272829;
}

/* -------------------MEDIA QUERY-----------------------*/
@media only screen and (min-width: 375px) and (max-width:853px) {
    .main_container {
        margin-top: 20%;
    }

    .profile_card {
        margin-left: 10% !important;
    }

    .profile_photo {
        height: 75px;
        width: 75px;
        margin-left: 25%;
        margin-top: 15%;
        margin-bottom: 7%;
    }

    .listing_text {
        margin-top: 30%;
        color: #272829;
        font-size: 13px;
    }

    h3 {
        font-size: 18px;
    }

    .profile_edit {
        font-size: 13px;
        line-height: 10px;
    }

    .card-title,
    .card-text {
        font-size: 13px;
    }


}